@model DMS_Project.Models.Entities.Appointment

@{
    ViewData["Title"] = "New";
}

<a class="btn btn-outline-danger" href="/Appointment/Index">Back To Appointments</a>
<h1 class="text-center text-success mb-4">Create New Appointment</h1>

@using (Html.BeginForm("SaveNew", "Appointment", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PatientId)
        @Html.DropDownListFor(m => m.PatientId, (SelectList)ViewBag.Patients, "-- Select Patient --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PatientId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DoctorId)
        @Html.DropDownListFor(m => m.DoctorId, (SelectList)ViewBag.Doctors, "-- Select Doctor --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DoctorId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AppointmentDate)
        @Html.TextBoxFor(m => m.AppointmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.AppointmentDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AppointmentTime)
        @Html.TextBoxFor(m => m.AppointmentTime, "{0:hh\\:mm}", new { @class = "form-control", type = "time" })
        @Html.ValidationMessageFor(m => m.AppointmentTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", type = "number", min = "1", value = "30" })
        @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add Appointment</button>
}



@* <form asp-action="Create">
    <div class="form-group">
        <label asp-for="PatientId"></label>
        <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
    </div>

    <div class="form-group">
        <label asp-for="DoctorId"></label>
        <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentDate"></label>
        <input asp-for="AppointmentDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AppointmentTime"></label>
        <input asp-for="AppointmentTime" type="time" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" value="30" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form> *@
